[submodule "assets/implot"]
	path = assets/implot
	url = git@github.com:epezent/implot.git
[submodule "assets/imgui"]
	path = assets/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "assets/emsdk"]
	path = assets/emsdk
	url = https://github.com/emscripten-core/emsdk.git
